@charset "utf-8";
p   {
	text-align:justify;
}
body {
	background-color: #E0D77D;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: justify;
	margin-bottom:5em;
}

#navbar ul {
	margain:0px;
	padding:0px;
	background-color:#df3282;
	text-align:center;
	margin-top:0px;
	margin-left:-10px;
	margin-right:-10px;
}
#navbar li   {
	list-style: none;
	display: inline;
	font-family: alexa-std;
	font-style: normal;
	font-weight: 400;
}
#navbar ul li a {
	height: 20px;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	border-left: #999999 1px solid;
	border-top: #999999 1px solid;
	border-bottom: #999999 1px solid;
	border-right: #999999 1px solid;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
}
#navbar ul li a:hover  {
	color:#ffffff;
	background-color:#1e95ac;
}
#navbar ul li a:active {
	color:#333333;
	background-color:#bbff00;
}
header {
	background-color:#1a8192;
	margin-top: -10px;
	margin-left:-10px;
	margin-right:-10px;
}
header img {
	margin-left:1em;
}
#steve {
	width:100%;
	float:left;
	padding-top:1em;
	padding-bottom:1em;
}
#sally {
	width:100%;
	float:left;
	clear:left;
	padding-bottom:1em;
	padding-top:1em;
}
.floatingleft	{
	float:left;
	padding-right:1em;
}
.floatingright	{
	float:right;
	padding-left:1em;
}
h1 {
	text-align: center;
	text-decoration: underline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
h2  {
	text-align: center;
	text-decoration: underline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.button {
	display: block;
	height: 22px;
	width: 80px;
	background: #df3282;
	text-align: center;
	border: solid #df3282;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #FFFFFF;
	border-radius: 10px;
	float:top;
	text-decoration:none;
}
.button:hover  {
	color: #FFFFFF;
	background-color: #df3282;
	border: solid #1e95ac;
}
.button:active  {
	color:#333333;
	background-color:#bbff00;
	border: solid #df3282;
}
table {
	border-collapse: collapse;
	border:thin solid black;
}
tbody tr th {
	border: medium solid #000000;
}

td {
	border: thin solid #000000;
}
