@charset "utf-8";
p   {
	text-align:justify;
}
body {
	background-color: yellow;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align:justify;
}

#navbar ul {
	margain:0px;
	padding:0px;
	background-color:#b4ff00;
	text-align:center;
	margin-top:0px;
	margin-left:-10px;
	margin-right:-10px;
}
#navbar li   {
	list-style: none;
	display: inline;
	font-family: alexa-std;
	font-style: normal;
	font-weight: 400;
}
#navbar ul li a {
	height:20px;
	margin:0px;
	padding:0px 10px 0px 10px;
	border-left:#999999 1px solid;
	border-top:#999999 1px solid;
	border-bottom:#999999 1px solid;
	border-right:#999999 1px solid;
	color:#333333;
	text-decoration:none;
	font-size:14px;
}
#navbar ul li a:hover  {
	color:#333333;
	background-color:#ff9900;
}
#navbar ul li a:active {
	color:#333333;
	background-color:#97bfff;
}
header {
	background-color:#8220A0;
	margin-top: -10px;
	margin-left:-10px;
	margin-right:-10px;
}
header img {
	margin-left:1em;
}
#steve {
	width:100%;
	float:left;
	padding-top:1em;
	padding-bottom:1em;
}
#sally {
	width:100%;
	float:left;
	clear:left;
	padding-bottom:1em;
	padding-top:1em;
}
.floatingleft	{
	float:left;
	padding-right:1em;
}
.floatingright	{
	float:right;
	padding-left:1em;
}
h1 {
	text-align: center;
	text-decoration: underline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
h2  {
	text-align: center;
	text-decoration: underline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.button {
	display: block;
	height: 1.5em;
	width: 6em;
	background: #b4ff00;
	text-align: center;
	border: solid #ff7500;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	
}
a.button {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border:thin solid black;
}
tbody tr th {
	border: medium solid #000000;
}

td {
	border: thin solid #000000;
}
